.formAdd {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height: 100vh;
}

.space{
    height: 2em;
    background-color: var(--color-light);
    color: var(--color-header);
}

.space:hover {
    border: 2px solid var(--color-cheers);
}

.space:focus {
    box-shadow: 0 1px 1px var(--color-header)inset, 0 0 6px var(--color-cheers);
    outline: 0 none;
}

.space[type="file"] {
    margin-bottom: .2em;
}

.space[type="file"]:hover {
    margin: 0px;
}

.space[type="file"]:focus {
    box-shadow: 0 1px 1px var(--color-header)inset, 0 0 6px var(--color-cheers);
    outline: 0 none;
}

textarea.space {
    width: 17em;
}

.fill {
    display: flex;
    flex-direction: column;
    padding-top: .1em;
    padding-bottom: 1.5em;
    border-radius: 5%;
}