.viajes {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img {
    width: 40em;
}

.place{
    margin: 0;
}

.date {
    margin: 0;
}

.description {
    margin: 0;

}

.space {
    margin-bottom: 2.5em;
}

.votos {
    text-align: right;
    margin: 0;
}
