.mas {
    height: 3em;
    width: 3em;
    border-radius: 100%;
    /* box-sizing: border-box; */
    position: fixed;
    right: 3.25em;
    bottom: 3.25em;
}

.mas:hover {
    border: 2px solid var(--color-cheers);
    margin: 0px;
}

.mas:hover:active {
    box-shadow: 0 1px 1px var(--color-header)inset, 0 0 8px var(--color-cheers);
    outline: 0 none;
}

.viajes {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.place {
    font-size: 2em;
    padding-top: 1em;
    margin: 0;
}

.img {
    width: 50em;
    padding-top: .5em;
    padding-bottom: .5em;
}

.date {
    font-size: 1.2em;
    margin: 0;
}

.description {
    font-size: 1.2em;
    margin: 0;

}

.space {
    margin-bottom: 2.5em;
}

.votos {
    text-align: right;
    font-size: 1.2em;
    margin: 0;
}
