.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Esto asegura que el contenedor del formulario ocupe toda la altura de la pantalla */
    background-color: rgb(40, 39, 39);
  }

  .submitButton {
    margin-top: 20px;
    font-size: medium;
    height: 30px;
    width: 120px;
  }

  .input{
    display: flex;
    flex-direction: column;
    margin: 10px;

  }

  .isotipo{
    height: 100px;
    width: 100px;
  }

  .registro{
    margin-top: 20px;
  }
 
  

  