.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.isotipo{
  height: 12em;
  width: 12em;
  background-color: var(--color-cheers);
}

h2 {
  font-size: 2em;
  margin: 1em;
}

.submitButton {
  border-radius: 5%;
  font-size: 1.2em;
  background-color: var(--color-light);
  color: var(--color-header);
  height: 2em;
  width: 6em;
  margin-top: 1.5em;
  margin-bottom: .5em;
}

.submitButton:hover {
  border: 2px solid var(--color-cheers);
}

.submitButton:active {
  box-shadow: 0 1px 1px var(--color-header)inset, 0 0 8px var(--color-cheers);
  outline: 0 none;
}

.p {
  font-size: 1.2em;
  margin-top: .1em;
  margin-bottom: 0;
}

.registro{
  font-size: 1.2em;
  margin-top: 0;
  color: var(--color-cheers);
}

.registro:hover {
  text-decoration: underline;
}