.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.p {
  font-size: 1.2em;
  margin-top: .1em;
  margin-bottom: 0;
}

.registro{
  font-size: 1.2em;
  margin-top: 0;
  color: var(--color-cheers);
}

.registro:hover {
  text-decoration: underline;
}

.login {
  margin-right: 0px;
}