.login {
    font-size: 1.2em;
    height: 2em;
    width: 6em;
    background-color: var(--color-light);
    color: var(--color-header);
    border-radius: 5%;
}

.login:hover {
    border: 2px solid var(--color-cheers);
}

.login:active {
    box-shadow: 0 1px 1px var(--color-header)inset, 0 0 8px var(--color-cheers);
    outline: 0 none;
}
