header {
        /* display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(3, 1fr);
    */
    display: flex;
    justify-content:space-between;
}


.title {
text-align: center;
}

h1 {
    font-size: 55px;
    margin-bottom: 0;
}

h2{
    margin-top: 0px;
}

.martini {
    height: 200px;
    width: 200px;
}

.login {
    font-size: medium;
    background-color: #f1d86a;
    height: 30px;
    width: 120px;
}
