@import url('../variables.css');

header {
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: var(--color-header);
}

.logotipoCheers {
    height: 12em;
    width: 12em;
    margin-left: 1.25rem;
    background-color: var(--color-cheers);
}

.navContainer {
    display: flex;
}

.buttonContainer {
    margin-right: 1.25rem;
}
