label {
    font-size: 1.5em;
}
  
.input {
    display: flex;
    flex-direction: column;
    height: 2em;
    background-color: var(--color-light);
    color: var(--color-header);
    margin-top: .1em;
    margin-bottom: 1.5em;
    border-radius: 5%;
}
  
.input:hover {
    border: 2px solid var(--color-cheers);
}
  
.input:focus {
    box-shadow: 0 1px 1px var(--color-header)inset, 0 0 6px var(--color-cheers);
    outline: 0 none;
}
  
.input:focus::placeholder {
    color: transparent;
}